@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$main-color: #990012;
$color2: #FCF6F6;
$text-color: #06175B;
*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $color2;
}

.showcase {
    width: 100%;
    height: 92vh;
    background: url(../../Assets/mechanic_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: $color2;

    .color_overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right, 
            #000000f1, #00000077, #00000000
                    );
    }

    .content_overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 45px;

        h1 {
            font-size: 80px;
            font-family: 'Montserrat';
            font-weight: 900;
        }
        h3 {
            font-size: 20px;
            font-family: 'Roboto';
            font-style: italic;
        }
    }

    .showcase_btns {
        margin-top: 45px;
        button {
            padding: 15px 25px;
            background-color: $main-color;
            border: none;
            color: $color2;
            cursor: pointer;
            font-weight: bold;

            .showc_btn_icns {
                margin-right: 3px;
                margin-bottom: 1px;
            }
            &:last-child {
                margin-left: 20px;
                padding: 15px 45px;
                background-color: $color2;
                border: none;
                color: $main-color;
                font-weight: bold;
            }
        }
    }
}

.mobile_container {
    width: 100%;
    height: 20vh;
    background-color: white;
    font-family: 'Roboto';
    .wrapper {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
    }

    h3 {
        font-size: 35px;
        font-weight: 300;
        color: rgb(58, 58, 58);
    }

    button {
        padding: 20px 50px;
        background-color: $main-color;
        border: none;
        color: $color2;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }
}

.feature_services {
    width: 100%;
    height: auto;
    background: url('../../Assets/pattern.png');
    background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
    font-family: 'roboto';
    padding: 50px 0px;
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    .wrapper {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        
        h3 {
            font-size: 40px;
            width: fit-content;
            font-family: 'Roboto';
            color: $text-color;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                background-color: $main-color;
                height: 2px;
                width: 100px;
                left: auto;
                right: -110px;
                bottom: 10px;
            }
        }

        .services_intro {
            width: 70%;
            margin-top: 10px;
            margin-bottom: 40px;
            color: rgb(88, 88, 88);
        }

        .services_container{ 
            width: 100%;
            height: auto;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-columns: auto;

            .service {
                width: 373px;
                height: 213px;
                background-color: white;
                margin-bottom: 10px;
                transition: all 0.3s ease-in-out;
                border-bottom: 3px solid $main-color;
                padding: 39px 35px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:hover {
                    transform: scale(1.07);
                }

                small {
                    color: $text-color;
                    font-family: 'Roboto';
                }

                h4 {
                    color: $text-color;
                    font-size: 25px;
                }

                .book_img {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    p {
                        color: $main-color;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

                .service_icn {
                    width: 60px;
                    height: 60px;
                    // background-color: red;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.quality_cheap {
    width: 100%;
    height: 65vh;
    display: flex;
    margin: 0 auto;
    background-color: $main-color !important;
    background: url('../../Assets/pattern.png');
    background-position: center;
    background-size: cover;

    .media {
        width: 50%;
        height: 100%;
        // background-color: $main-color;
        padding: 20px 0px;
        padding-left: 20px;

        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }
    .content {
        width: 50%;
        height: 100%;
        // background-color: $main-color;
        padding: 20px;
        color: $color2;

        .content_tagline {
            font-size: 50px;
            font-family: 'Montserrat';
            font-weight: bold;
            margin-bottom: 15px;
        }

        p {
            font-family: 'Roboto';
            font-size: 17px;
        }

        .additional_services {
            h4 {
                font-family: 'Montserrat';
                margin-top: 25px;
                font-size: 22px;
            }

            .services_add {
                display: flex;
                flex-direction: column;
                font-family: 'Roboto';
                margin-top: 20px;
                span {
                    margin-bottom: 15px;
                    .check_icn {
                        margin-right: 10px;
                    }
                }
            }

            .book_services_button {
                padding: 15px 45px;
                font-weight: bold;
                background-color: $color2;
                color: $main-color;
                border: none;
                font-family: 'Roboto';
                font-size: 18px;
                margin-top: 25px;
                cursor: pointer;
            }
        }
    }
}

.best_world {
    width: 100%;
    height: 65vh;
    // margin-top: 30px;

    .wrapper {
        width: 100%;
        height: 100%;
        background: url('../../Assets/pattern.png');
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .media {
            width: 50%;
            height: 100%;
            background: url('../../Assets/sam\ banner.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .content {
            width: 40%;
            height: 100%;
            // background: blue;
            padding: 20px;
            font-family: 'Roboto';
            color: $text-color;
            // align-self: flex-end;

            h1 {
                font-size: 50px;
                font-family: 'Montserrat';
                color: $text-color;
            }
            p {
                font-weight: 400;
                margin-bottom: 25px;
            }

            h4 {
                font-size: 25px;
                margin-bottom: 10px;
            }

            ul {
                li {
                    margin-bottom: 15px;
                }
            }

            .explore_parts {
                padding: 15px 45px;
                font-weight: bold;
                background-color: $main-color;
                color: $color2;
                border: none;
                font-family: 'Roboto';
                font-size: 18px;
                margin-top: 25px;
                cursor: pointer;
            }
        }
    }
}

.repair_estimator {
    width: 100%;
    height: auto;
    background-color: $main-color;
    margin-top: 20px;

    .wrapper {
        width: 100%;
        height: 100%;
        padding: 25px;
        background: url('../../Assets/pattern.png');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto';
        color: $color2;
        // justify-content: center;

        h1 {
            font-size: 52px;
        }

        p {
            margin-top: 15px;
        }
        span {
            font-weight: bolder;
            font-style: italic;
            margin-bottom: 25px;
        }

        .estimator {
            display: flex;
            flex-direction: column;
            .fields {
                width: 500px;
                // background: black;
                display: flex;
                justify-content: space-around;
                margin-bottom: 25px;

                select {
                    width: 48%;
                    height: 50px;
                    background: $color2;
                }
                input {
                    width: 98%;
                    height: 50px;
                    border: 1px solid transparent;
                    background: $color2;
                    &:focus {
                        outline: none;
                    }
                }
            }

            .get_estimate_btn {
                padding: 15px 45px;
                font-weight: bold;
                background-color: $color2;
                color: $main-color;
                border: none;
                font-family: 'Roboto';
                font-size: 18px;
                margin-top: 25px;
                cursor: pointer;
                // align-self: center;
            }
        }
    }
}