$main-color: #990012;
$color2: #FCF6F6;
$text-color: #06175B;

.footer_container {
    width: 100%;
    height: auto;
    background: $color2;
    // margin-top: 25px;
    // border: 1px solid $main-color;
    border-top: 1px solid $text-color;
    font-family: 'Roboto';
    // display: none;

    .contact_det {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $text-color;
        margin-bottom: 15px;
        .address, .email, .phone {
            width: fit-content;
            font-size: 17px;
            font-weight: bold;
            height: 100%;
            color: $text-color;
            // background-color: red;
            padding-left: 25px;
            // padding-right: 175px;
            border-right: 1px solid $text-color;
            display: flex;
            align-items: center;

            p {
                margin-left: 15px;
            }

            &:last-child {
                border: none;
            }
            // width: 35%;
            display: flex;
        }

        .address {
            padding-right: 175px;
        }
    }

    .wrapper {
        margin: 0 auto;
        width: 70%;
        height: 65%;
        // background-color: $text-color;
        display: flex;
        justify-content: space-between;
        color: $text-color;

        border-bottom: 1px solid rgb(209, 208, 208);

        .sec {
            width: 22%;
            height: 100%;
            // background-color: red;

            p {
                line-height: 28px;
                font-weight: bold;
                margin-bottom: 15px;
                cursor: pointer;
                color: #06175bd5;
            }

            .title {
                height: 20%;
                display: flex;
                align-items: center;
                font-size: 10px;
                font-weight: bolder;
            }
        }

        .sec_1 {
            .title {
                width: 95%;
                height: 35%;
                // background-color: green;
                display: flex;
                // justify-content: center;
                align-items: center;

                img {
                    width: 60%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                width: 80%;
                font-size: 12px;
            }

            button {
                padding: 14px 31px;
                margin-top: 0px;
                background-color: $main-color;
                color: $color2;
                border: none;
                font-weight: bolder;
            }
        }

        .sec_4 {
            // background-color: $main-color;
            .input_submmit {
                width: 100%;
                height: 12%;
                display: flex;
                justify-content: space-between;
                border-radius: 8px;
                border: 1px solid rgb(160, 160, 160);
                overflow: hidden;
                margin-top: 15px;
                .submitt_icn {
                    width: 20%;
                    height: 100%;
                    background-color: $main-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color2;
                    cursor: pointer;
                }

                input {
                    width: 80%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    padding: 5px;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .social_links {
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                .icn_cont {
                    // background-color: red;
                    border: 1px solid $main-color;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    font-size: 22px;
                    color: $main-color;
                }
            }
        }
    }

    .copyrights_developer {
        width: 70%;
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        p {
            color: rgb(153, 152, 152);
            a {
                color: initial;
                text-decoration: none;
                font-weight: bolder;
                font-style: italic;
            }

            &:last-child {
                color: $text-color;
            }
        }
    }
}

@media only screen and (max-width: 849px) {

    .footer_container {
        padding: 20px 0px;
        .contact_det {
            display: none;
        }

        .wrapper {
            width: 90%;

            .sec {
                .title {
                    font-size: 9px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }

            .sec_1 {
                p {
                    display: none;
                }
                button {
                    padding: 10px 20px;
                    margin-top: 0px;
                    background-color: $main-color;
                    color: $color2;
                    border: none;
                    font-weight: bolder;
                }
            }

            .sec_4 {
                .input_submmit {
                    .submitt_icn {
                        // display: none;
                        background-color: transparent;
                        color: $main-color;
                    }
                }
            }

            .social_links {
                .icn_cont {
                    width: 40px !important;
                    height: 40px !important;
                    border: none !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 500px) {
    .footer_container {
        .wrapper {
            display: block;

            .sec_1 {
                .title {
                    width: 50%;
                }
            }

            .sec {
                width: 100%;
                margin-bottom: 25px;
            }
    
            .sec_2 {
                display: none;
            }

            .sec_4 {
                .input_submmit {
                    height: 50px;
                    width: 50%;
                }
                .social_links {
                    width: 50%;
                }
            }

            
        }

        .copyrights_developer {
            width: 90%;
            display: block;
            p {
                // display: none;
                font-size: 12px !important;

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }

        
    }
}