$main-color: #990012;
$color2: #FCF6F6;

*{
    margin: 0;
    box-sizing: border-box;
}

.rct_link {
    text-decoration: none;
    color: initial;
    font-family: 'Roboto';
}

.active_link {
    color: $main-color;
}
.nav_container {
    width: 100%;
    height: auto;
    background-color: white;
    // position: relative;

    .side_bar {
        display: none;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;

        .wrapper {
            height: 100%;

            .logo {
                height: 20%;
                width: 100%;
                background: url('../../Assets/logo4.png');
                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                .side_close{ 
                    position: absolute;
                    right: 25px;
                    top: 25px;
                    font-size: 25px;
                    // padding: 5px;
                }
            }

            .links {
                height: 60%;
                width: 100%;
                // background-color: red;
                padding-left: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                span {
                    font-weight: bold;
                    color: white;
                }

                .book_appt {
                    display: flex;
                    height: 90px;
                    border-left: 1px solid black;
                    button {
                        padding: 15px 18px;
                        align-self: center;
                        border: 1px solid $color2;
                        background-color: $main-color;
                        color: $color2;
                        cursor: pointer;
                        font-family: 'Roboto';
                        font-weight: bolder;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .nav_wrapper {
        width: 95%;
        height: 8vh;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .logo {
            width: 10%;
            height: inherit;
            background: url('../../Assets/logo4.png');
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;
            // img {
            //     width: 100%;
            //     height: 100%;
            //     object-fit: contain;
            // }
        }

        .links {
            width: 50%;
            justify-self: end;
            height: inherit;
            // background-color: blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-weight: bolder;
            }
        }

        .menu {
            display: none;
            font-size: 25px;
        }

        .book_appt {
            // width: 10%;
            // background-color: brown;
            display: flex;
            padding-left: 25px;
            height: 80%;
            border-left: 1px solid black;
            button {
                padding: 15px 18px;
                align-self: center;
                border: 1px solid $color2;
                background-color: $main-color;
                color: $color2;
                cursor: pointer;
                font-family: 'Roboto';
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 1104px) {

    .nav_container {
        .nav_wrapper {
            .links {
                width: 70%;
            }
        }
    }

}

@media only screen and (max-width: 849px) {

    .nav_container {
        // display: none;
        .nav_wrapper {
            .links {
                display: none;
            }

            .menu {
                display: block;
            }
        }
    }

}

@media only screen and (max-width: 600px) {

    .nav_container {
        // display: none;
        .nav_wrapper {
            .logo {
                width: 20%;
                background-size: 100%;
            }
        }
    }

}